build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cim_proc.exe
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/CTestTestfile.cmake
build/DartConfiguration.tcl
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-1afeea51886695a44d25.json
build/.cmake/api/v1/reply/cmakeFiles-v1-63c759633d5b3254c512.json
build/.cmake/api/v1/reply/codemodel-v2-ffca3c5e83fc54fa73e2.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2024-02-07T14-29-27-0835.json
build/.cmake/api/v1/reply/target-cim_proc-Debug-e76ece7e7345579486ac.json
build/.cmake/api/v1/reply/toolchains-v1-804f3c44f1e38dfb3867.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.26.0-rc6/CMakeCCompiler.cmake
build/CMakeFiles/3.26.0-rc6/CMakeCXXCompiler.cmake
build/CMakeFiles/3.26.0-rc6/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.26.0-rc6/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.26.0-rc6/CMakeRCCompiler.cmake
build/CMakeFiles/3.26.0-rc6/CMakeSystem.cmake
build/CMakeFiles/3.26.0-rc6/CompilerIdC/a.exe
build/CMakeFiles/3.26.0-rc6/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.26.0-rc6/CompilerIdCXX/a.exe
build/CMakeFiles/3.26.0-rc6/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/cim_proc.dir/main.cpp.obj
build/CMakeFiles/cim_proc.dir/C_/ENTEK/source/Components/pugixml/src/pugixml.cpp.obj
build/Testing/TAG
build/Testing/20240130-1255/Test.xml
build/Testing/20240131-0521/Test.xml
build/Testing/20240201-0548/Test.xml
build/Testing/20240202-0818/Test.xml
build/Testing/20240205-1104/Test.xml
build/Testing/20240206-0520/Test.xml
build/Testing/20240207-0520/Test.xml
build/Testing/Temporary/CTestCostData.txt
build/Testing/Temporary/LastTest_20240130-1255.log
build/Testing/Temporary/LastTest_20240131-0521.log
build/Testing/Temporary/LastTest_20240201-0548.log
build/Testing/Temporary/LastTest_20240202-0818.log
build/Testing/Temporary/LastTest_20240205-1104.log
build/Testing/Temporary/LastTest_20240206-0520.log
build/Testing/Temporary/LastTest_20240207-0520.log
.PVS-Studio/State/WindowState.json
